NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/wg_social?schema=public
JWT_SECRET=please_change_to_a_very_long_secret_key_1234567890
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
